.hotel-text{
  font-family: 'Open Sans', sans-serif;
  color: #b6b5b7;
  line-height: 60px;
  font-size: 18px;
}
.hotel-text-presta{
  line-height: 40px;
}
.hotel-form{
  font-family: 'montserrat', sans-serif;
  color: rgb(20,192,207);
  font-weight: bold;
}
.hotel-arrivee input{
  background-image: url('ressources/icon-arrivee.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.hotel-depart input{
  background-image: url('ressources/icon-depart.png');
}
.hotel-formulaire input{
  max-width: 1.125rem;
  height: 1.25rem;
  border: 0px;
  background-size: 100% 100%;
  background-color: rgba(0,0,0,0);
  padding: 0;
}
.hotel-titre{
  font-family: 'Montserrat', sans-serif;
  color: #14c0cf;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: auto;
  position: relative;
}
.hotel-titre:after{
  content: "";
  border-bottom: 1px solid;
  width: 72px;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translate(-50%,50%);
}
.hotel-titre-1{
  color: white;
  font-size: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.hotel-formulaire{
  position: absolute;
  top: 90%;
}
.hotel-button-reserver{
  display: none;
}
.hotel-accueil{
  background-image: url("ressources/hotel-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px;
}
.titre-bold{
  font-weight: bold;
}
.hotel-img-chambre{
  width: 320px;
  margin: auto;
}
.hotel-img-chambre1{
  max-width: 100%;
}
.hotel-button-details{
  width: 120px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  background-color: #14c0cf;
  border-radius: 10px;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.hotel-text-button-detail{
    color: white;
    text-align: center;
}
/*Taille des images du carousel*/
.hotel-img-carousel{
  max-width: 350px;
  height: 650px;
}
/*hover pour la couleur sur l'image*/
.hotel-lien-carousel-1{
  position: relative;
    float: left;
}
.hotel-overlay{
  display: none;
  background: rgba(0, 142, 222, 0.8);
  position:absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.hotel-lien-carousel-1:hover .hotel-overlay{
display: block;
}
/*Hover sur le texte pour l'image*/
.hotel-text-hover-1{
  display: none;
}
.hotel-lien-carousel-1:hover .hotel-text-hover-1{
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,50%);
  color: white;
}
/*Mise en forme du texte de l'hover sur l'image*/
.hotel-text-hover-titre{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
.hotel-text-hover-corps{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
a.hotel-carousel-control-next {
    right: -80px!important;
}

a.hotel-carousel-control-prev {
    left: -100px!important;
}
/*Carousel mobile*/
.hotel-carousel-mobile{
  display: none;
}
@media (max-width : 360px){
  .hotel-accueil{
    background-image: url("ressources/hotel-header-mobile.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 800px;
  }
  .hotel-text{
    line-height: 36px;
  }
  .hotel-titre-1{
    font-size: 48px;
    top: 50%;
    left: 25%;
    transform: translate(-50%;-50%);
  }
  .hotel-text{
    font-size: 12px;
    text-align: center;
  }
  .hotel-button-reserver{
    display: block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,50%);
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    background-color: #14c0cf;
    border-radius: 10px;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: white;
  }
  .hotel-formulaire{
    display: none;
  }
  .hotel-carousel-desktop{
    display: none;
  }
  .hotel-carousel-mobile{
    display : block;
  }
  .hotel-text-hover-prix{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,50%);
    color: #14c0cf;
    font-size: 3rem;
    font-weight: bold;
  }
  .hotel-text-hover-unite{
    position: absolute;
    bottom: 11%;
    left: 75%;
    color: #14c0cf;
    font-size: 2rem;
  }
  .hotel-text-hover-apartir{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%,50%);
    color: white;
    text-transform: uppercase;
  }
  .hotel-text-offre{
    text-align: center;
    margin-top: 1rem;
  }
  .hotel-carousel-ind{
    position: absolute;
    bottom: -10!important;
    transform: translate(0, 150%)!important;
    background-color: #14c0cf;
  }
}
